/* Font style  */


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');


font-family: 'Work Sans', sans-serif;

*{
    margin: 0 auto;
}

#primary{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    background-color: #FF42A5;
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    border: 0px;
    margin-right: 24px;
    text-transform: uppercase;

}

/* Header style  */
.gamer{
    display: flex;
    justify-content: space-between;
    margin: 0px 240px;
    align-items: center;
    
}

.gamer-1{
    display: flex;
    margin: 38px 0px;
}

.gamer-1 img,.footer-2 li a img{
    width: 86.041px;
    height: 40px;
    margin-top: 44px;
    
}

.gamer-2{
    /* text-align: center; */
    font-size: 45px;
    font-weight: 700;
    margin-left: 20px;

}

h1 span{
    color: #FF42A5;

}

div nav>ul{
    display: flex;
}

div nav ul li{
    list-style: none;
    margin-left: 32px;
}

div  nav ul li a{
    text-decoration: none;
} 



#youtube-tiktok{
    width: 30px;
    height: 30px;
}



.gamer-3{
    align-items: center;
    margin: 54px 0px;
}

.button{
    text-align: center;
    margin: 0px;
    padding: 0px;
}




/* Play Like The Goal  */

.goal{
    display: flex;
    background: #FFF;
}

.goal-1{
     background-image: url('../images/Group\ 14.png');
     width: 50%;
}

.goal-2{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: normal;
    margin-top: 148px;
    margin-bottom: 0px;
    text-transform: uppercase;
    
}

.goal-3{
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    margin: 0px;
    color:  #e448f9;

}

.goal-4 li{
    list-style: none;
    margin-left: 100px;

}

.goal-5{
    display: flex;
    margin-left: 150px;
}



#primary-1{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    background: #4EC5F7;
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    border: 0px;
    text-transform: uppercase;

}


#image{
    width: 511px;
    height: 446px;
    margin-right: 240px;
}








/* Online Games Funny Videos */
.online-games{
    background-color: #FFF;
    margin-top: 100px;
}

.online-games-1{
    text-align: center;
}

.online-games-1 h3{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 5px;
}

.online-games-1 h3 span{
    color: #ec58f1;
}

.primary-3{
    margin: 0px;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.online-games-2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0px 150px;
    margin-top: 48px;
    gap: 24px;
}

.online-games-2 div img,.online-games-2 div p{
    width: 250px;
    height: auto;
}






.video{
    position: relative;
}

.video .middle .images img{
    width: 40px;
    height: 40px;
    
}

.video .background-effort{
    opacity: 1;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 30%;
    text-align: center;
}

.text {
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 0, 98);

}

.video:hover .background-effort {
    opacity: .2;

}

.video:hover .middle {
    opacity: 1;
}







/* Play Instantly, No Downloads No Installs. */

.paly-instantly-1 h3{
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0px;

}

.paly-instantly-2{
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
}


.paly-instantly{
    display: flex;
    margin-top: 50px;
}

.paly-instantly-1{
    max-width: 40%;
    padding: 100px 150px 30px 150px;
}

.paly-instantly-1 h3 span{
    color: #df58f1;
}


.paly-instantly-2{
    position: relative;
}

.paly-instantly-3{
    max-width: 60%;
    height: 850px;
}

#img2{
    width: 200px;
    top: -250px;
    left: -200px;
}

#img1{
    width: 600px;
    margin-right: 100px;

}



/* Image Section And Game Name  */

.image-head, .image-title{

    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.image-head, .image-title p{
    font-size: 20px;
    font-weight: 600;
}

.image-head{
    margin: 0px 160px;

}


#image-left{
    margin-left: 80px;
    margin-top: 40px;
}



.image-title:hover{
    border: 2px solid #FF42A5;
    border-radius: 25px;
}

.image-title p:hover{
    color: #FF42A5;
}

 

/* footer style  */
.footer{
    text-align: center;
    background-color: #0B0223;
    color: rgba(255, 255, 255, 0.60);
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.footer-1{
    justify-content: center;
    margin-bottom: 0px;
}

.footer-4 ul,.footer-2 ul,.footer-5 ul{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

.footer3{
    width: 630px;
    margin-left: 350px;
    margin-top: 0px;
}

.footer4{
    width: 630px;
    margin-left: 550px;
    margin-top: 0px;
}

.footer5{
    width: 830px;
    margin-left: 350px;
    margin-top: 0px;
}


.footer-4 ul li,.footer-2 ul li,.footer-5 ul li{
    list-style: none;
}







/* Mobile View  */

@media screen and (max-width: 576px) {

    

    .gamer, div nav>ul, .paly-instantly {
        flex-direction: column;
        margin: 20px 20px 0px 20px;

    }

    .goal{
        flex-direction: column-reverse;
    }

    .gamer-3{
        margin: 0px;
        text-align: center;
        
    }

    .gamer-3 nav ul li{
        
        margin-top: 20px;
        
    }

    .gamer-1{
        margin: 0px;
        height: 100px;
    }


    .goal-1{
     background-image: url('../images/Group\ 14.png');
     width: 100%;
    }

    .goal-2{
        margin-top: 100px;
        font-size: 2.5rem;
    }

    .goal-3{
        font-size: 4rem;
    }



    #image{
    width: 400px;
    height: 446px;
    margin-right: 10px;
    }

    .goal-5{
        margin-left: 20px;
    }


    /* Online Games Funny Videos */
    .online-games{
    background-color: #FFF;
    margin-top: 75px;
    }

    .online-games-1 h3{
    font-size: 28px;
    }

    .primary-3{
    font-size: 14px;
    }



    /* Online Games Funny Videos */

    .online-games-2{
        flex-direction: column;

    }

    .online-games-2 {
    display: flex;
    margin: 0px 75px;
    }



 /* Play Instantly, No Download No Installs */

    .paly-instantly-1{
        max-width: 100%;
        padding: 0px 30px 40px 30px;
    }

    .paly-instantly-3{
        max-width: 100%;
        height: 650px;
    }

    .paly-instantly-1 h3, .paly-instantly-1 p{
        text-align: center;
    }

    #img1{
        left: -250px;
    }
    
    #img2{
    top: -220px;
    left: -50px;
    }

    .image{
        width: 250px;
        height: 500px;

    }
    .image2{
        width: 150px;
        height: 300px;
    }




    /* Image Section And Game Name  */

    .image-head, .image-title{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px 0px;
    }

    .image-head, .image-title p{
    font-size: 12px;
    font-weight: 400;
    }

    .image-head{
        margin: 0px 10px;
    }

    #image-left{
        margin-left: 0px;
        margin-top: 0px;
    }




    /* footer part style */

    .footer{
        margin-top: 30px;
        margin-left: 10px;
        position: relative;
        right: 5px;
    }

    

    .footer-4 ul{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .footer-5 ul{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .footer3{
        width: 350px;
        margin-left: 0px;
        margin-top: 20px;
    }
    .footer3 li, .footer5 li{
        margin-bottom: 10px;
    }

    .footer4{
        width: 350px;
        margin-left: 0px;
        margin-top: 20px;
    }

    .footer5{
        width: 350px;
        margin-left: 0px;
        margin-top: 20px;

    }


    div ul li{
        list-style: none;
    }



}




/* Tablate View  */


@media screen and (min-width: 576px) and (max-width: 960px) {

     .gamer, div nav>ul, .paly-instantly{
        flex-direction: column;
        margin: 20px 20px 0px 20px;

    }

    .goal{
        flex-direction: column-reverse;
    }

    .gamer-3{
        margin: 0px;
        text-align: center;
        
    }

    .gamer-3 nav ul li{
        
        margin-top: 20px;
        
    }

    .gamer-1{
        margin: 0px;
        height: 100px;
    }


    .goal-1{
     background-image: url('../images/Group\ 14.png');
     width: 100%;
    }

    #image{
    width: 700px;
    height: 446px;
    margin: 20px;
    }



   

    .goal-2 {
    margin-top: 50px;
   
    }

    .goal-4 li {
    margin-left: 160px;
    }


    /* Online Games Funny Videos */

    .online-games-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    }

    .online-games-2 {
    margin: 0px 75px;
    }

    /* Play Instantly, No Download No Installs */

    .paly-instantly-1{
        max-width: 100%;
        padding: 0px 30px 40px 30px;
    }

    .paly-instantly-3{
        max-width: 60%;
        height: 650px;
    }

    .paly-instantly-1 h3, .paly-instantly-1 p {
        text-align: center;
    }

    #img1{
        left: 100px;
    }
    
    #img2{
    top: -220px;
    left: 150px;
    }

    .image{
        width: 300px;
        height: 500px;
        margin-right: 100px;

    }
    .image2{
        width: 150px;
        height: 300px;
    }


     /* Image Section And Game Name  */

    .image-head, .image-title{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px 0px;
        

    }

    .image-head{
        margin: 0px 60px;
    }

    #image-left{
        margin-left: 0px;
        margin-top: 0px;
    }

        



    /* footer part style */

    .footer{
        margin-top: 100px;
        margin-left: 10px;
        position: relative;
        right: 5px;
    }


    .footer-4 ul{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .footer-5 ul{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }

    .footer3{
        width: 450px;
        margin-left: 100px;
        margin-top: 20px;
    }
    .footer3 li, .footer5 li{
        margin-bottom: 10px;
    }

    .footer4{
        width: 500px;
        margin-left: 200px;
        margin-top: 20px;
    }

    .footer5{
        width: 450px;
        margin-left: 100px;
        margin-top: 20px;

    }


    div ul li{
        list-style: none;
    }



}